@media (max-width: 1028px) {
   h1 {
      font-size: 2rem;
   }

   h2 {
      font-size: 1.5rem;
   }

   h3 {
      font-size: 1rem;
   }

   h4 {
      font-size: 0.8rem;
   }

   h5 {
      font-size: 0.6rem;
   }

   body {
      font-size: 16px;
   }
}

@media (max-width: 880px) {
   .home-screen {
      .product-carousel {
         a {
            .product {
               min-height: 300px;

               img {
                  width: 200px;
                  height: 200px;
               }
            }
         }
      }
   }

   .back {
      margin-top: 1rem;
      a {
         font-size: 0.6rem;
      }
   }

   .product-details {
      .details {
         margin-top: 1rem;
         flex-direction: column;

         .box,
         .title,
         .img {
            width: 100%;
         }
      }

      .review-section {
         width: 100%;
      }
   }

   .profile-page {
      h1 {
         margin-top: 1rem;
      }
   }

   .cart-page {
      margin-top: 1rem;
      .cart {
         flex-direction: column;

         .cart-content {
            width: 100%;
         }

         .box {
            width: 100%;
            margin-left: 0rem;
         }
      }
   }

   .confirm-order-page {
      width: 95%;

      .confirm {
         flex-direction: column;

         .place-order {
            width: 100%;
         }

         .summary-box {
            margin-left: 0rem;
            width: 100%;
         }
      }
   }

   .order-review-page {
      flex-direction: column;
      margin-top: 1rem;

      .order-review {
         width: 100%;
      }

      .summary-box {
         margin-left: 0rem;
         width: 100%;
      }
   }

   .auth-page {
      h1 {
         margin-top: 1rem;
      }
   }

   .admin-product-list,
   .admin-product-create,
   .admin-user-list,
   .admin-user-edit,
   .admin-order-list,
   .myorder-page {
      margin-top: 1rem;
      table {
         font-size: 13px;
      }
   }

   .myorder-page {
      h1 {
         margin-top: 1rem;
      }
   }

   header {
      .header {
         display: flex;
         align-items: center;
         justify-content: space-between;

         .burger {
            display: block;
         }

         .icons {
            padding: 0 1rem;
            padding-top: 1rem;
            position: fixed;
            top: 8.5%;
            left: -100%;
            background-color: rgba($primary-color, 0.9);
            width: 100%;
            height: 100%;
            z-index: 15;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            @include easeOut();

            .cart,
            .user,
            .admin,
            .sign-in {
               margin-bottom: 0.1rem;
               width: 100%;
               padding: 0.5rem 1rem;
               @include easeOut();
               cursor: pointer;

               &:hover {
                  background-color: $primary-color;
               }

               a {
                  display: block;
                  margin-left: 0;
               }
            }

            .user,
            .admin {
               position: relative;

               .drop-down {
                  position: inherit;
                  margin-top: 0.5rem;
                  border: none;

                  li {
                     padding: 0.2rem 1rem;
                     background-color: $white-color;
                     color: $black-color;

                     a {
                        font-size: 12px;
                     }

                     &:hover {
                        background-color: lighten($grey-color, 7%);
                     }
                  }
               }
            }
         }

         .open {
            left: 0;
         }
      }
   }
   .shipping,
   .payment {
      width: 100%;
   }

   .confirm-order-page {
      .confirm {
         margin-top: 0.5rem;
      }
   }
}

@media (max-width: 680px) {
   .loader {
      i {
         font-size: 1.5rem;
      }
   }
   h1 {
      font-size: 1.5rem;
   }

   h2 {
      font-size: 1rem;
   }

   h3 {
      font-size: 0.8rem;
   }

   h4 {
      font-size: 0.7rem;
   }

   h5 {
      font-size: 0.6rem;
   }

   .container {
      width: 95%;
   }

   // Buttons

   .btn {
      padding: 0.7rem;
      font-size: 0.6rem;
   }

   header {
      .header {
         .logo {
            h3 {
               font-size: 1.5rem;
            }
         }
      }
   }

   .cart-page {
      .cart {
         .cart-content {
            .cart-items {
               .item {
                  .img {
                     img {
                        width: 70px;
                     }
                  }
               }
            }
         }
      }
   }

   form {
      div {
         margin: 0.5rem 0;

         label {
            font-size: 0.7rem;
         }

         input,
         textarea {
            font-size: 0.8rem;
         }
      }

      .box {
         div {
            font-size: 0.8rem;
         }
      }
   }

   .file::before {
      font-size: 0.7rem;
   }

   .check-out {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      font-size: 0.9rem;
      font-weight: bold;
      color: $grey-color;
      margin-top: 1rem;

      div.active {
         color: $black-color;
      }
   }

   .shipping,
   .payment {
      form {
         div {
            label {
               font-size: 0.7rem;
            }
         }
      }
   }

   .confirm-order-page {
      .confirm {
         margin-top: 1rem;

         .summary-box {
            .box {
               div {
                  font-size: 0.8rem;
               }
            }
         }
      }
   }

   .admin-product-list,
   .admin-product-create,
   .admin-user-list,
   .admin-user-edit,
   .admin-order-list {
      .image-error {
         font-size: 0.7rem;
      }
   }

   .order-review-page {
      .summary-box {
         .box {
            div {
               font-size: 0.8rem;
            }
         }
      }
   }

   .product-details {
      .details {
         .box {
            div {
               font-size: 0.8rem;
            }
         }
      }
   }

   // Messages
   .error-msg {
      font-size: 0.7rem;
   }

   .success-msg {
      font-size: 0.7rem;
   }

   .alert {
      font-size: 0.7rem;
   }
}

@media (max-width: 620px) {
   .myorder-page,
   .admin-product-list,
   .admin-product-create,
   .admin-user-list,
   .admin-user-edit,
   .admin-order-list {
      table {
         display: none;
      }
      .mobile {
         display: block;

         &-order,
         &-product {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
            height: 100%;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            border-bottom: 1px solid $grey-color;
            cursor: pointer;
            position: relative;
            @include easeOut();

            &:hover {
               background-color: darken($white-color, 5%);
            }

            .img {
               img {
                  width: 120px;
               }
            }

            .icon {
               position: absolute;
               top: 10%;
               right: 0%;

               i {
                  padding: 0.5rem;
                  font-size: 0.7rem;
                  cursor: pointer;
                  background-color: $danger-color;
                  color: $white-color;
               }
            }

            .content {
               margin-left: 1rem;

               h4 {
                  margin-bottom: 0.5rem;

                  span {
                     display: inline-block;
                     color: $white-color;
                     padding: 0.2rem;
                     text-transform: uppercase;
                  }
               }
               p {
                  font-size: 0.7rem;
                  margin: 0.2rem 0;
               }
            }
         }

         &-user {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            text-align: left;
            height: 100%;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            border-bottom: 1px solid $grey-color;
            cursor: pointer;
            position: relative;
            @include easeOut();

            span {
               color: $primary-color;
            }

            .icons {
               display: flex;
               align-items: center;
               justify-content: center;
               position: absolute;
               top: 10%;
               right: 0%;

               i {
                  background-color: lighten($grey-color, 15%);
                  padding: 0.5rem;
               }

               .fa-trash {
                  background-color: $danger-color;
                  color: $white-color;
               }
            }

            &:hover {
               background-color: darken($white-color, 5%);
            }
         }

         &-order:last-child,
         &-product:last-child,
         &-user:last-child {
            border-bottom: none;
         }
      }
   }
}

@media (max-width: 580px) {
   .check-out {
      font-size: 0.7rem;
   }
}

@media (max-width: 380px) {
   .myorder-page,
   .admin-product-list,
   .admin-product-create,
   .admin-user-list,
   .admin-user-edit,
   .admin-order-list {
      table {
         display: none;
      }
      .mobile {
         display: block;

         &-order,
         &-product {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
            height: 100%;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            border-bottom: 1px solid $grey-color;
            cursor: pointer;
            position: relative;
            @include easeOut();

            &:hover {
               background-color: darken($white-color, 5%);
            }

            .img {
               img {
                  width: 100px;
               }
            }

            .icon {
               position: absolute;
               top: 10%;
               right: 0%;

               i {
                  padding: 0.5rem;
                  font-size: 0.7rem;
                  cursor: pointer;
                  background-color: $danger-color;
                  color: $white-color;
               }
            }

            .content {
               margin-left: 1rem;

               h4 {
                  margin-bottom: 0.5rem;

                  span {
                     display: inline-block;
                     color: $white-color;
                     padding: 0.2rem;
                     text-transform: uppercase;
                  }
               }
               p {
                  font-size: 0.7rem;
                  margin: 0.2rem 0;
               }
            }
         }

         &-user {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            text-align: left;
            height: 100%;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            border-bottom: 1px solid $grey-color;
            cursor: pointer;
            position: relative;
            @include easeOut();

            span {
               color: $primary-color;
            }

            .icons {
               display: flex;
               align-items: center;
               justify-content: center;
               position: absolute;
               top: 10%;
               right: 0%;

               i {
                  background-color: lighten($grey-color, 15%);
                  padding: 0.5rem;
               }

               .fa-trash {
                  background-color: $danger-color;
                  color: $white-color;
               }
            }

            &:hover {
               background-color: darken($white-color, 5%);
            }
         }

         &-order:last-child,
         &-product:last-child,
         &-user:last-child {
            border-bottom: none;
         }
      }
   }
}
