.order-success-screen {
   margin-top: 2rem;

   p {
      padding: 1rem 0;
   }

   .text-primary {
      color: $primary-color;
   }

   .buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 2rem;
   }
}
