.check-out {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   font-style: 0.9rem;
   font-weight: bold;
   color: $grey-color;
   margin-top: 1rem;

   div.active {
      color: $primary-color;
   }
}

.shipping,
.payment {
   width: 80%;
   margin: 0 auto;
   max-width: 1220px;

   h1 {
      margin-top: 1rem;
      text-transform: uppercase;
   }

   form {
      div {
         input[type='radio'] {
            margin-left: 1rem;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 100%;
            padding: 0;
            vertical-align: middle;
            border: 2px solid darken($blue-color, 40%);
            outline: none;
            cursor: pointer;
            background-color: $white-color;
         }

         input[type='radio']:checked {
            background-color: darken($blue-color, 20%);
            width: 0.9rem;
            height: 0.9rem;
         }

         label {
            font-size: 1rem;
            display: inline-block;
            cursor: pointer;
            color: lighten($black-color, 40%);
            margin-left: 0.5rem;
         }
      }

      .btn {
         margin-top: 1rem;
      }
   }
}

.confirm-order-page {
   width: 90%;
   margin: 0 auto;
   max-width: 1220px;

   .confirm {
      margin-top: 2rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      h3 {
         text-transform: uppercase;
      }

      .place-order {
         flex: 2;

         .boxes {
            .box {
               border-bottom: 1px solid $grey-color;
               padding: 1rem;

               h3,
               p {
                  margin-bottom: 0.5rem;
               }

               p {
                  font-weight: initial;
                  font-size: 0.9rem;
                  word-spacing: 1px;
                  color: lighten($black-color, 15%);
               }

               .item-box {
                  display: flex;
                  padding: 0.5rem;
                  align-items: center;
                  justify-content: space-between;
                  border-bottom: 1px solid $grey-color;

                  img {
                     width: 50px;
                  }
               }
            }

            .box:last-child,
            .item-box:last-child {
               border-bottom: none;
            }
         }
      }

      .summary-box {
         margin-left: 2rem;

         .box {
            border: 1px solid $grey-color;

            div {
               padding: 0.5rem 1rem;
               margin: 0.5rem 0;
               border-bottom: 1px solid $grey-color;
               display: flex;
               align-items: center;
               justify-content: space-between;

               h3 {
                  padding: 0.5rem;
               }

               .btn {
                  width: 100%;
               }
            }

            div:last-child {
               border-bottom: none;
            }
         }
      }
   }
}
